<h1>All Cocktails</h1>

<%= link_to "Add new cocktail", new_cocktail_path %>

<% @cocktails.each do |c| %>
  <h2><%= link_to "#{c.name}", cocktail_path(c) %></h2>
  <% c.doses.each do |dose| %>
    <p><%= dose.description %> of <%= dose.ingredient.name %></p>
  <% end %>
<% end %>
<%= cl_image_tag("lzbnshokpk3nhjdufsbr",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("iusyor7dlfwhnntv4oa2",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
